.about-container {
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none !important;
  font-size: 19px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
}

h1::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1e6cffb0;
  animation: underline-animation 3s linear infinite;
}

@keyframes underline-animation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

p {
  margin-bottom: 10px;
  font-size: 19px;
  line-height: 1.5;
}

ul {
  list-style-type: disc;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 19px;
}

.links-container {
  margin-top: 20px;
}

.link {
  display: inline-block;
  margin-right: 10px;
  text-decoration: underline;
  color: #1e6cff;
  padding: 5px;
}

.link:hover {
  color: #084298;
  background-color: #f1f1f1;
}